flow.json
[
    {
        "id": "7a4eb111.0c1c8",
        "type": "tab",
        "label": "Flow Robotics Ide",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6879d6c.3df81",
        "type": "tab",
        "label": "Flow - Hello World",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a099374.9a2dac",
        "type": "tab",
        "label": "Flow - IoT Minecraft Castle",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c4618a05.51826",
        "type": "tab",
        "label": "Flow-LeMondeDe Sora UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "99336c78.4c8ab",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0071c5",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#0071c5",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0071c5",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#129aff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0071c5",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Welcome to Autre TechLab Services Admin UI",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            },
            "allowTempTheme": "none"
        }
    },
    {
        "id": "89c7fde1.4503a",
        "type": "ui_tab",
        "d": true,
        "name": "Minecraft Castle",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "39206a8b.c5f8a6",
        "type": "mqtt-broker",
        "name": "Eclipse",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "/pruebasNodeRed",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "/pruebasNodeRed",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8fb3768.b8ac088",
        "type": "ui_group",
        "name": "Castle outside",
        "tab": "89c7fde1.4503a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e4b868dc.4bb848",
        "type": "ui_group",
        "name": "Environment",
        "tab": "89c7fde1.4503a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "af8cc9b6.e919d8",
        "type": "ui_group",
        "name": "Castle inside",
        "tab": "89c7fde1.4503a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3e0dfd0b.2101e2",
        "type": "ui_group",
        "name": "Walls",
        "tab": "89c7fde1.4503a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2238b8ca.5fac08",
        "type": "ui_group",
        "name": "Welcome to",
        "tab": "ffdb88b2.2989b8",
        "order": 1,
        "disp": true,
        "width": "11",
        "collapse": true
    },
    {
        "id": "38e96ded.327fd2",
        "type": "ui_group",
        "name": "AutreTechLab",
        "tab": "c7773ab.19623c8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "80d5ecc0.146198",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f11838f3.8b9978",
        "type": "minecraft-ping-server",
        "host": "sora.autretechlab.cloud",
        "port": "25565"
    },
    {
        "id": "bed43d85.afe46",
        "type": "minecraft-ping-server",
        "host": "localhost",
        "port": "25565"
    },
    {
        "id": "ddb8d230.19dce",
        "type": "minecraft-ping-server",
        "host": "localhost",
        "port": "25566"
    },
    {
        "id": "ffdb88b2.2989b8",
        "type": "ui_tab",
        "name": "Minecraft Services",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "df038176.cdeed8",
        "type": "ui_group",
        "name": "Statistics",
        "tab": "ffdb88b2.2989b8",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": true
    },
    {
        "id": "73dc9105.eb3818",
        "type": "chatbot-discord-node",
        "botname": "MondeDeSora_Bot",
        "usernames": "autretechlab,LeCedrik",
        "clientId": "804765948585181225",
        "store": "4cf44106.6f32f8",
        "log": "MondeDeSoraBot.log",
        "debug": true
    },
    {
        "id": "6f2ad847.2e845",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "df038176.cdeed8",
        "order": 1,
        "width": 13,
        "height": 1
    },
    {
        "id": "4cf44106.6f32f8",
        "type": "chatbot-context-store",
        "name": "",
        "contextStorage": "plain-file",
        "contextParams": "{\"path\":\"/tmp\"}"
    },
    {
        "id": "8c10f895.751ef8",
        "type": "config",
        "name": "atl-services-node-red-flow",
        "region": "eu-central-1"
    },
    {
        "id": "7260a864.fdfae8",
        "type": "git-nodes-config",
        "name": "ATL_Robotics_IDE_Projects",
        "git": ""
    },
    {
        "id": "c7773ab.19623c8",
        "type": "ui_tab",
        "name": "Robitics IDE Services",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc8b9f56.94918",
        "type": "ui_group",
        "name": "Actions",
        "tab": "c7773ab.19623c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "69f9cdfa.8a1fa4",
        "type": "ui_group",
        "name": "Diagnostics",
        "tab": "c7773ab.19623c8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9244c093.ccefd",
        "type": "ui_switch",
        "z": "2a099374.9a2dac",
        "name": "",
        "label": "Daylight",
        "group": "e4b868dc.4bb848",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "Light",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "No light",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 114,
        "y": 27,
        "wires": [
            [
                "b81bda78.93ccf8",
                "afc873e6.813d5"
            ]
        ]
    },
    {
        "id": "b3372389.28ee1",
        "type": "ui_switch",
        "z": "2a099374.9a2dac",
        "name": "Level 1 Light",
        "label": "Level 1 Light",
        "group": "af8cc9b6.e919d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 585,
        "y": 387,
        "wires": [
            [
                "810bd8d.aab2028"
            ]
        ]
    },
    {
        "id": "ebdb6a38.48e3d8",
        "type": "ui_switch",
        "z": "2a099374.9a2dac",
        "name": "Level 0 Light",
        "label": "Level 0 Light",
        "group": "af8cc9b6.e919d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/mc/nodeRed/CastleLight/0",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 585,
        "y": 328,
        "wires": [
            [
                "8bdf3f76.73035"
            ]
        ]
    },
    {
        "id": "de8a35c4.974498",
        "type": "ui_switch",
        "z": "2a099374.9a2dac",
        "name": "Level 2 Light",
        "label": "Level 2 Light",
        "group": "af8cc9b6.e919d8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 584,
        "y": 438,
        "wires": [
            [
                "df07f960.ddd098"
            ]
        ]
    },
    {
        "id": "c1ee785b.242278",
        "type": "ui_switch",
        "z": "2a099374.9a2dac",
        "name": "Level 3 Light",
        "label": "Level 3 Light",
        "group": "af8cc9b6.e919d8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 578,
        "y": 482,
        "wires": [
            [
                "c1bf6b4a.29b0d8"
            ]
        ]
    },
    {
        "id": "e42c3eaa.18b7a",
        "type": "ui_slider",
        "z": "2a099374.9a2dac",
        "name": "Outter Walls Height",
        "label": "Outter Walls Height",
        "group": "3e0dfd0b.2101e2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": "8",
        "max": "50",
        "step": 1,
        "x": 128,
        "y": 165,
        "wires": [
            [
                "447d014c.0b6a3",
                "560144d.eb329bc"
            ]
        ]
    },
    {
        "id": "cff1b833.b88928",
        "type": "ui_slider",
        "z": "2a099374.9a2dac",
        "name": "Inner Walls Height",
        "label": "Inner Walls Height",
        "group": "3e0dfd0b.2101e2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": "8",
        "max": "50",
        "step": 1,
        "x": 144,
        "y": 247,
        "wires": [
            [
                "92dac8ea.6bc438",
                "b9fe4946.4225e8",
                "5c7e0b4b.aa5d9c"
            ]
        ]
    },
    {
        "id": "447d014c.0b6a3",
        "type": "ui_gauge",
        "z": "2a099374.9a2dac",
        "name": "",
        "group": "3e0dfd0b.2101e2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outter",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 331,
        "y": 146,
        "wires": []
    },
    {
        "id": "92dac8ea.6bc438",
        "type": "ui_gauge",
        "z": "2a099374.9a2dac",
        "name": "",
        "group": "3e0dfd0b.2101e2",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Inner",
        "label": "blocks",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 327,
        "y": 226,
        "wires": []
    },
    {
        "id": "560144d.eb329bc",
        "type": "mqtt out",
        "z": "2a099374.9a2dac",
        "name": "",
        "topic": "/mc/nodeRed/OutterWalls",
        "qos": "",
        "retain": "",
        "broker": "80d5ecc0.146198",
        "x": 387,
        "y": 183,
        "wires": []
    },
    {
        "id": "b9fe4946.4225e8",
        "type": "mqtt out",
        "z": "2a099374.9a2dac",
        "name": "",
        "topic": "/mc/nodeRed/InnerWalls",
        "qos": "",
        "retain": "",
        "broker": "80d5ecc0.146198",
        "x": 389,
        "y": 260,
        "wires": []
    },
    {
        "id": "8bdf3f76.73035",
        "type": "mqtt out",
        "z": "2a099374.9a2dac",
        "name": "Level 0",
        "topic": "/mc/nodeRed/CastleLight/0",
        "qos": "0",
        "retain": "true",
        "broker": "80d5ecc0.146198",
        "x": 762,
        "y": 325,
        "wires": []
    },
    {
        "id": "810bd8d.aab2028",
        "type": "mqtt out",
        "z": "2a099374.9a2dac",
        "name": "Level 1",
        "topic": "/mc/nodeRed/CastleLight/1",
        "qos": "",
        "retain": "true",
        "broker": "80d5ecc0.146198",
        "x": 760,
        "y": 387,
        "wires": []
    },
    {
        "id": "df07f960.ddd098",
        "type": "mqtt out",
        "z": "2a099374.9a2dac",
        "name": "Level 2",
        "topic": "/mc/nodeRed/CastleLight/2",
        "qos": "",
        "retain": "true",
        "broker": "80d5ecc0.146198",
        "x": 761,
        "y": 436,
        "wires": []
    },
    {
        "id": "c1bf6b4a.29b0d8",
        "type": "mqtt out",
        "z": "2a099374.9a2dac",
        "name": "Level 3",
        "topic": "/mc/nodeRed/CastleLight/3",
        "qos": "",
        "retain": "true",
        "broker": "80d5ecc0.146198",
        "x": 758,
        "y": 477,
        "wires": []
    },
    {
        "id": "36f9583.9a21fa8",
        "type": "ui_text",
        "z": "2a099374.9a2dac",
        "group": "af8cc9b6.e919d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Level 0 Lights",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 414,
        "y": 330,
        "wires": []
    },
    {
        "id": "49453e03.0d91a",
        "type": "mqtt in",
        "z": "2a099374.9a2dac",
        "name": "Level 0",
        "topic": "/mc/nodeRed/CastleLight/0",
        "qos": "0",
        "datatype": "auto",
        "broker": "80d5ecc0.146198",
        "x": 70,
        "y": 331,
        "wires": [
            [
                "d6ba833e.7c803"
            ]
        ]
    },
    {
        "id": "f0bfc782.c99958",
        "type": "ui_text",
        "z": "2a099374.9a2dac",
        "group": "af8cc9b6.e919d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Level 1 Lights",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 241,
        "y": 389,
        "wires": []
    },
    {
        "id": "f2239038.691b2",
        "type": "mqtt in",
        "z": "2a099374.9a2dac",
        "name": "Level 1",
        "topic": "/mc/nodeRed/CastleLight/1",
        "qos": "0",
        "datatype": "auto",
        "broker": "80d5ecc0.146198",
        "x": 68,
        "y": 388,
        "wires": [
            [
                "f0bfc782.c99958",
                "d00bb16e.32e1b"
            ]
        ]
    },
    {
        "id": "9931a20b.20583",
        "type": "ui_text",
        "z": "2a099374.9a2dac",
        "group": "af8cc9b6.e919d8",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Level 2 Lights",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 233,
        "y": 436,
        "wires": []
    },
    {
        "id": "fa20b396.ead92",
        "type": "mqtt in",
        "z": "2a099374.9a2dac",
        "name": "Level 2",
        "topic": "/mc/nodeRed/CastleLight/2",
        "qos": "0",
        "datatype": "auto",
        "broker": "80d5ecc0.146198",
        "x": 65,
        "y": 438,
        "wires": [
            [
                "9931a20b.20583",
                "5528ba60.c45024"
            ]
        ]
    },
    {
        "id": "9ba51362.a8b2c",
        "type": "ui_text",
        "z": "2a099374.9a2dac",
        "group": "af8cc9b6.e919d8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Level 3 Lights",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 231,
        "y": 478,
        "wires": []
    },
    {
        "id": "de6d0b62.bbd518",
        "type": "mqtt in",
        "z": "2a099374.9a2dac",
        "name": "Level 3",
        "topic": "/mc/nodeRed/CastleLight/3",
        "qos": "0",
        "datatype": "auto",
        "broker": "80d5ecc0.146198",
        "x": 62,
        "y": 481,
        "wires": [
            [
                "9ba51362.a8b2c",
                "1de69934.c8ea77"
            ]
        ]
    },
    {
        "id": "d6ba833e.7c803",
        "type": "delay",
        "z": "2a099374.9a2dac",
        "name": "",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 221,
        "y": 323,
        "wires": [
            [
                "ebdb6a38.48e3d8",
                "36f9583.9a21fa8"
            ]
        ]
    },
    {
        "id": "d00bb16e.32e1b",
        "type": "delay",
        "z": "2a099374.9a2dac",
        "name": "",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 428,
        "y": 390,
        "wires": [
            [
                "b3372389.28ee1"
            ]
        ]
    },
    {
        "id": "5528ba60.c45024",
        "type": "delay",
        "z": "2a099374.9a2dac",
        "name": "",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 422,
        "y": 438,
        "wires": [
            [
                "de8a35c4.974498"
            ]
        ]
    },
    {
        "id": "1de69934.c8ea77",
        "type": "delay",
        "z": "2a099374.9a2dac",
        "name": "",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 420,
        "y": 485,
        "wires": [
            [
                "c1ee785b.242278"
            ]
        ]
    },
    {
        "id": "b81bda78.93ccf8",
        "type": "mqtt out",
        "z": "2a099374.9a2dac",
        "name": "",
        "topic": "/mc/nodeRed/Daylight",
        "qos": "",
        "retain": "true",
        "broker": "80d5ecc0.146198",
        "x": 402,
        "y": 26,
        "wires": []
    },
    {
        "id": "afc873e6.813d5",
        "type": "switch",
        "z": "2a099374.9a2dac",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "No light",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "7acd296e.f332b8"
            ],
            [
                "f61d1747.fa4908"
            ]
        ]
    },
    {
        "id": "7acd296e.f332b8",
        "type": "change",
        "z": "2a099374.9a2dac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 20,
        "wires": [
            [
                "8bdf3f76.73035",
                "810bd8d.aab2028",
                "df07f960.ddd098",
                "c1bf6b4a.29b0d8",
                "4b7e9aec.37c75c"
            ]
        ]
    },
    {
        "id": "f61d1747.fa4908",
        "type": "change",
        "z": "2a099374.9a2dac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "On",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 100,
        "wires": [
            [
                "8bdf3f76.73035",
                "810bd8d.aab2028",
                "df07f960.ddd098",
                "c1bf6b4a.29b0d8",
                "4b7e9aec.37c75c"
            ]
        ]
    },
    {
        "id": "8f9c4ae0.28fdf8",
        "type": "mqtt in",
        "z": "2a099374.9a2dac",
        "name": "CastleGate",
        "topic": "/mc/nodeRed/CastleGate",
        "qos": "2",
        "datatype": "auto",
        "broker": "80d5ecc0.146198",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "6df135b5.c2636c",
                "5c7e0b4b.aa5d9c"
            ]
        ]
    },
    {
        "id": "6df135b5.c2636c",
        "type": "ui_text",
        "z": "2a099374.9a2dac",
        "group": "8fb3768.b8ac088",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CastleGate",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "533edf4.facc12",
        "type": "function",
        "z": "f6879d6c.3df81",
        "name": "getPos()",
        "func": "msg.payload = \"player.getPos()\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "71429f10.8ebd6"
            ]
        ]
    },
    {
        "id": "dd58ffe0.22a7",
        "type": "debug",
        "z": "f6879d6c.3df81",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 655,
        "y": 327,
        "wires": []
    },
    {
        "id": "cc9ed7e5.336128",
        "type": "inject",
        "z": "f6879d6c.3df81",
        "name": "inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "trigger",
        "payloadType": "str",
        "x": 111,
        "y": 102,
        "wires": [
            [
                "533edf4.facc12"
            ]
        ]
    },
    {
        "id": "71429f10.8ebd6",
        "type": "tcp request",
        "z": "f6879d6c.3df81",
        "server": "sora.autretechlab.cloud",
        "port": "4711",
        "out": "char",
        "splitc": "\\n",
        "name": "",
        "x": 382,
        "y": 123,
        "wires": [
            [
                "a9afe2c4.56502",
                "dd58ffe0.22a7"
            ]
        ]
    },
    {
        "id": "a9afe2c4.56502",
        "type": "function",
        "z": "f6879d6c.3df81",
        "name": "getBlock()",
        "func": "var arr = msg.payload.toString().replace(/(\\n|\\r)+$/, '').split(\",\");\n\nvar x = parseInt(arr[0]);\nvar z = parseInt(arr[1]);\nvar y = parseInt(arr[2])\nvar cube_size = 3;\n\nvar coord_set = []\n  for (var h = x-cube_size; h < x+cube_size+1; h++) {\n      for (var k = z-cube_size; k < z+cube_size+1; k++) {\n          for (var l = y-cube_size; l < y+cube_size+1; l++) {\n              coord_set.push({payload: \"world.getBlock(\"+h+\",\"+k+\",\"+l+\")\\n\"});\n          }\n      }\n  }\nreturn [coord_set];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 476,
        "y": 189,
        "wires": [
            [
                "9713fdf5.68ec"
            ]
        ]
    },
    {
        "id": "9713fdf5.68ec",
        "type": "tcp request",
        "z": "f6879d6c.3df81",
        "server": "127.0.0.1",
        "port": "4711",
        "out": "char",
        "splitc": "\\n",
        "name": "",
        "x": 216,
        "y": 326,
        "wires": [
            [
                "4958e94e.b6a718",
                "e8e39686.171c68"
            ]
        ]
    },
    {
        "id": "4958e94e.b6a718",
        "type": "function",
        "z": "f6879d6c.3df81",
        "name": "tabulate",
        "func": "if (msg.payload === \"trigger\") {\n  msg.payload = context.table;\n  context.table = undefined;\n  return msg;\n} else {\n  var ID = msg.payload.toString().replace(/(\\n|\\r)+$/, '');\n  \n  context.table = context.table || {};\n  context.table[ID] = context.table[ID] || 0;\n  context.table[ID] = context.table[ID]+1;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 483,
        "y": 327,
        "wires": [
            []
        ]
    },
    {
        "id": "e8e39686.171c68",
        "type": "trigger",
        "z": "f6879d6c.3df81",
        "name": "",
        "op1": "1",
        "op2": "trigger",
        "op1type": "nul",
        "op2type": "val",
        "duration": "250",
        "extend": true,
        "units": "ms",
        "outputs": 1,
        "x": 375,
        "y": 403,
        "wires": [
            [
                "4958e94e.b6a718"
            ]
        ]
    },
    {
        "id": "7ce01ab9.06af0c",
        "type": "minecraft-ping-users",
        "z": "c4618a05.51826",
        "server": "f11838f3.8b9978",
        "userid": "",
        "do_not_ping": false,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "aa77ea69.e672b"
            ]
        ]
    },
    {
        "id": "68dcdd4c.90f21c",
        "type": "debug",
        "z": "c4618a05.51826",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "8909672e.e71758",
        "type": "inject",
        "z": "c4618a05.51826",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "c389e088.b5817",
                "7ce01ab9.06af0c"
            ]
        ]
    },
    {
        "id": "c389e088.b5817",
        "type": "minecraft-ping",
        "z": "c4618a05.51826",
        "server": "f11838f3.8b9978",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "95c80b9d.acd028",
                "df26eb0.73f1d18",
                "f45a8c3d.b7adb",
                "fb4593e.7dd887"
            ]
        ]
    },
    {
        "id": "d98f1344.e2873",
        "type": "debug",
        "z": "c4618a05.51826",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 180,
        "wires": []
    },
    {
        "id": "4b7e9aec.37c75c",
        "type": "debug",
        "z": "2a099374.9a2dac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 60,
        "wires": []
    },
    {
        "id": "5c7e0b4b.aa5d9c",
        "type": "debug",
        "z": "2a099374.9a2dac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "95c80b9d.acd028",
        "type": "ui_gauge",
        "z": "c4618a05.51826",
        "name": "Players Online/Max",
        "group": "2238b8ca.5fac08",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Players loged on",
        "label": "payload.players.online",
        "format": "{{payload.players.online}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "15",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "68574666.01158",
        "type": "ui_text",
        "z": "c4618a05.51826",
        "group": "2238b8ca.5fac08",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minecraft Server Information",
        "format": "{{msg.payload.text}}",
        "layout": "row-left",
        "x": 1380,
        "y": 400,
        "wires": [],
        "info": "{{msg.payload.description.extra[0].text}}"
    },
    {
        "id": "aa77ea69.e672b",
        "type": "split",
        "z": "c4618a05.51826",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": ".user",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "77d971e4.94ac58",
                "69106508.480764"
            ]
        ]
    },
    {
        "id": "f1fd01fe.176c3",
        "type": "ui_chart",
        "z": "c4618a05.51826",
        "name": "",
        "group": "df038176.cdeed8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Players Online",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "7",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 740,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "df26eb0.73f1d18",
        "type": "change",
        "z": "c4618a05.51826",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.players.sample",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload.players.online",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 340,
        "wires": [
            [
                "f1fd01fe.176c3"
            ]
        ]
    },
    {
        "id": "fb4593e.7dd887",
        "type": "debug",
        "z": "c4618a05.51826",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "73f3ddac.75f8ec",
        "type": "split",
        "z": "c4618a05.51826",
        "name": "",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 890,
        "y": 280,
        "wires": [
            [
                "dd4eb342.ed5048"
            ]
        ]
    },
    {
        "id": "f45a8c3d.b7adb",
        "type": "change",
        "z": "c4618a05.51826",
        "name": "Get server information to message payload",
        "rules": [
            {
                "t": "move",
                "p": "payload.description.extra",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "73f3ddac.75f8ec"
            ]
        ]
    },
    {
        "id": "dd4eb342.ed5048",
        "type": "join",
        "z": "c4618a05.51826",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload.text",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "10",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "68574666.01158",
                "d98f1344.e2873"
            ]
        ]
    },
    {
        "id": "683411c1.321c6",
        "type": "inject",
        "z": "c4618a05.51826",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "c389e088.b5817",
                "7ce01ab9.06af0c"
            ]
        ]
    },
    {
        "id": "ef43b189.d5afb",
        "type": "ui_text",
        "z": "c4618a05.51826",
        "group": "2238b8ca.5fac08",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Players:",
        "format": "{{msg.payload.name}}",
        "layout": "col-center",
        "x": 920,
        "y": 80,
        "wires": []
    },
    {
        "id": "77d971e4.94ac58",
        "type": "join",
        "z": "c4618a05.51826",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload.name",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "<br>",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 720,
        "y": 80,
        "wires": [
            [
                "ef43b189.d5afb",
                "68dcdd4c.90f21c"
            ]
        ]
    },
    {
        "id": "69106508.480764",
        "type": "debug",
        "z": "c4618a05.51826",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "parts",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "806fd151.8a3b4",
        "type": "amazon cognito",
        "z": "7a4eb111.0c1c8",
        "aws": "8c10f895.751ef8",
        "name": "",
        "operation": "listUsers",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "ae229b6f.d10ff8",
                "c92d3799.9ff108"
            ]
        ]
    },
    {
        "id": "f659e895.95f5d8",
        "type": "inject",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "806fd151.8a3b4"
            ]
        ]
    },
    {
        "id": "ae229b6f.d10ff8",
        "type": "debug",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "a43955c0.497a78",
        "type": "ui_button",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "group": "dc8b9f56.94918",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "ros2 launch ide_bringup ide.launch.py",
        "tooltip": "Start the Robitics IDE service (ros2 launch)",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "ros2 launch ide_bringup ide.launch.py",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "1195fdac.e9ba52"
            ]
        ]
    },
    {
        "id": "4239fe62.16c6f",
        "type": "ui_button",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "group": "dc8b9f56.94918",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ros2 run atl_blockly_ide_py_pkg atl_ide_webappserver_node",
        "tooltip": "Start Robitics IDE Web server only",
        "color": "white",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "fd061f08.3879d",
        "type": "ui_text",
        "z": "7a4eb111.0c1c8",
        "group": "69f9cdfa.8a1fa4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Running Robitics IDE services",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "1195fdac.e9ba52",
        "type": "pythonshell in",
        "z": "7a4eb111.0c1c8",
        "name": "ATL ROS2 Service status",
        "pyfile": "/home/ubuntu/ATL_Robotics_IDE/saas_ops/atl_ros2_services.py",
        "virtualenv": "/home/ubuntu/ATL_Robotics_IDE/saas_ops",
        "continuous": false,
        "stdInData": false,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "63040ac3.c4a564",
                "fd061f08.3879d",
                "c92d3799.9ff108"
            ]
        ]
    },
    {
        "id": "ecd8ccc4.06a14",
        "type": "inject",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ALL",
        "payloadType": "str",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "a43955c0.497a78"
            ]
        ]
    },
    {
        "id": "63040ac3.c4a564",
        "type": "debug",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "c92d3799.9ff108",
        "type": "ui_template",
        "z": "7a4eb111.0c1c8",
        "group": "69f9cdfa.8a1fa4",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>\nLALALALAL",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 580,
        "y": 440,
        "wires": [
            [
                "dfc6cc91.4c724"
            ]
        ]
    },
    {
        "id": "dfc6cc91.4c724",
        "type": "debug",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 440,
        "wires": []
    },
    {
        "id": "7b6a3deb.92fd84",
        "type": "ui_template",
        "z": "c4618a05.51826",
        "group": "e4b868dc.4bb848",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script src=\"https://autretechlab.cloud/js/verifier.js\"></script>\n<script src=\"https://autretechlab.cloud/js/userprofile.js\"></script>\n<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 1050,
        "y": 400,
        "wires": [
            []
        ]
    }
]