flow.json
[
    {
        "id": "3b71736d.0e8fb4",
        "type": "tab",
        "label": "UI Definition",
        "disabled": false,
        "info": ""
    },
    {
        "id": "196026c9.073909",
        "type": "tab",
        "label": "Node-red dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c4618a05.51826",
        "type": "tab",
        "label": "sora.autretechlab.com",
        "disabled": false,
        "info": "# Le Monde de Sora is a imaginary mincraft world.  "
    },
    {
        "id": "7a4eb111.0c1c8",
        "type": "tab",
        "label": "Flow Robotics Ide",
        "disabled": false,
        "info": ""
    },
    {
        "id": "99336c78.4c8ab",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#8080ff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#8080ff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#8080ff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ccccff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#8080ff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Autre Techlab Mission Control",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "39206a8b.c5f8a6",
        "type": "mqtt-broker",
        "name": "Eclipse",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "/pruebasNodeRed",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "/pruebasNodeRed",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8fb3768.b8ac088",
        "type": "ui_group",
        "name": "Castle outside",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "e4b868dc.4bb848",
        "type": "ui_group",
        "name": "Environment",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "af8cc9b6.e919d8",
        "type": "ui_group",
        "name": "Castle inside",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "3e0dfd0b.2101e2",
        "type": "ui_group",
        "name": "Walls",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "2238b8ca.5fac08",
        "type": "ui_group",
        "name": "Application Dashboard",
        "tab": "ffdb88b2.2989b8",
        "order": 1,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "38e96ded.327fd2",
        "type": "ui_group",
        "name": "AutreTechLab",
        "tab": "c7773ab.19623c8",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "80d5ecc0.146198",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ffdb88b2.2989b8",
        "type": "ui_tab",
        "name": "sora.autretechlab.com",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "73dc9105.eb3818",
        "type": "chatbot-discord-node",
        "botname": "MondeDeSora_Bot",
        "usernames": "autretechlab,LeCedrik",
        "clientId": "804765948585181225",
        "store": "",
        "log": "MondeDeSoraBot.log",
        "debug": true
    },
    {
        "id": "c7773ab.19623c8",
        "type": "ui_tab",
        "d": true,
        "name": "Robitics IDE Services",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc8b9f56.94918",
        "type": "ui_group",
        "name": "Actions",
        "tab": "c7773ab.19623c8",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "69f9cdfa.8a1fa4",
        "type": "ui_group",
        "name": "Diagnostics",
        "tab": "c7773ab.19623c8",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "8c10f895.751ef8",
        "type": "config",
        "name": "atl-services-node-red-flow",
        "region": "eu-central-1"
    },
    {
        "id": "bc9c6697.0a974",
        "type": "minecraft-ping-server",
        "host": "sora.autretechlab.cloud",
        "port": "25565"
    },
    {
        "id": "739339fd.5b19e8",
        "type": "minecraft-ping-server",
        "host": "localhost",
        "port": "25565"
    },
    {
        "id": "2ed09a81.e552fe",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "c7773ab.19623c8",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "a92fedfd.e19f68",
        "type": "ui_group",
        "name": "Server Dashboard",
        "tab": "ffdb88b2.2989b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "53982482.90000c",
        "type": "ui_link",
        "d": true,
        "name": "portal.autretechlab.cloud",
        "link": "https://autretechlab.cloud",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 1
    },
    {
        "id": "58ea626.2fd5a9c",
        "type": "ui_tab",
        "name": "services.autretechlab.com",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f4e4954f.33bc4",
        "type": "ui_group",
        "name": "Server Dashboard",
        "tab": "58ea626.2fd5a9c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8909672e.e71758",
        "type": "inject",
        "z": "c4618a05.51826",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "505f7c08.5c7d94"
            ]
        ]
    },
    {
        "id": "d98f1344.e2873",
        "type": "debug",
        "z": "c4618a05.51826",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "95c80b9d.acd028",
        "type": "ui_gauge",
        "z": "c4618a05.51826",
        "name": "Players Online/Max",
        "group": "2238b8ca.5fac08",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Players loged on",
        "label": "payload.players.online",
        "format": "{{payload.players.online}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "68574666.01158",
        "type": "ui_text",
        "z": "c4618a05.51826",
        "group": "2238b8ca.5fac08",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minecraft Server Information",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 980,
        "y": 220,
        "wires": [],
        "info": "{{msg.payload.description.extra[0].text}}"
    },
    {
        "id": "f1fd01fe.176c3",
        "type": "ui_chart",
        "z": "c4618a05.51826",
        "name": "",
        "group": "2238b8ca.5fac08",
        "order": 3,
        "width": "11",
        "height": "5",
        "label": "Players Online",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 940,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "df26eb0.73f1d18",
        "type": "change",
        "z": "c4618a05.51826",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.players.sample",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload.players.online",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 320,
        "wires": [
            [
                "f1fd01fe.176c3"
            ]
        ]
    },
    {
        "id": "683411c1.321c6",
        "type": "inject",
        "z": "c4618a05.51826",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "505f7c08.5c7d94"
            ]
        ]
    },
    {
        "id": "ef43b189.d5afb",
        "type": "ui_text",
        "z": "c4618a05.51826",
        "group": "2238b8ca.5fac08",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Who is playing?",
        "format": "{{msg.MCuser}}",
        "layout": "col-center",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "69106508.480764",
        "type": "debug",
        "z": "c4618a05.51826",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "MCuser",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "f659e895.95f5d8",
        "type": "inject",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "806fd151.8a3b4"
            ]
        ]
    },
    {
        "id": "ae229b6f.d10ff8",
        "type": "debug",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "a43955c0.497a78",
        "type": "ui_button",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "group": "dc8b9f56.94918",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "ros2 launch ide_bringup ide.launch.py",
        "color": "white",
        "icon": "",
        "payload": "ros2 launch ide_bringup ide.launch.py",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "1195fdac.e9ba52"
            ]
        ]
    },
    {
        "id": "4239fe62.16c6f",
        "type": "ui_button",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "group": "dc8b9f56.94918",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "ros2 run atl_blockly_ide_py_pkg atl_ide_webappserver_node",
        "color": "white",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 240,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "fd061f08.3879d",
        "type": "ui_text",
        "z": "7a4eb111.0c1c8",
        "group": "69f9cdfa.8a1fa4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Running Robitics IDE services",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "ecd8ccc4.06a14",
        "type": "inject",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ALL",
        "payloadType": "str",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "a43955c0.497a78"
            ]
        ]
    },
    {
        "id": "63040ac3.c4a564",
        "type": "debug",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "c92d3799.9ff108",
        "type": "ui_template",
        "z": "7a4eb111.0c1c8",
        "group": "69f9cdfa.8a1fa4",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>\nLALALALAL",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "dfc6cc91.4c724"
            ]
        ]
    },
    {
        "id": "dfc6cc91.4c724",
        "type": "debug",
        "z": "7a4eb111.0c1c8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 440,
        "wires": []
    },
    {
        "id": "1195fdac.e9ba52",
        "type": "pythonshell in",
        "z": "7a4eb111.0c1c8",
        "name": "ATL ROS2 Service status",
        "pyfile": "/home/ubuntu/ATL_Robotics_IDE/saas_ops/atl_ros2_services.py",
        "virtualenv": "/home/ubuntu/ATL_Robotics_IDE/saas_ops",
        "continuous": false,
        "stdInData": false,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "63040ac3.c4a564",
                "fd061f08.3879d",
                "c92d3799.9ff108"
            ]
        ]
    },
    {
        "id": "806fd151.8a3b4",
        "type": "amazon cognito",
        "z": "7a4eb111.0c1c8",
        "aws": "8c10f895.751ef8",
        "name": "",
        "operation": "listUsers",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "ae229b6f.d10ff8",
                "c92d3799.9ff108"
            ]
        ]
    },
    {
        "id": "a1f8dec2.3b3cd8",
        "type": "ui_template",
        "z": "3b71736d.0e8fb4",
        "group": "e4b868dc.4bb848",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "f87cbca3.5f66c"
            ]
        ]
    },
    {
        "id": "f87cbca3.5f66c",
        "type": "debug",
        "z": "3b71736d.0e8fb4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "8f137a9a.78db1",
        "type": "inject",
        "z": "3b71736d.0e8fb4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "a1f8dec2.3b3cd8"
            ]
        ]
    },
    {
        "id": "505f7c08.5c7d94",
        "type": "minecraft-ping",
        "z": "c4618a05.51826",
        "server": "bc9c6697.0a974",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "a7aa062b.238db8",
                "95c80b9d.acd028",
                "df26eb0.73f1d18",
                "8349aebe.69e958",
                "123047.50c40fba"
            ]
        ]
    },
    {
        "id": "a7aa062b.238db8",
        "type": "debug",
        "z": "c4618a05.51826",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 200,
        "wires": []
    },
    {
        "id": "123047.50c40fba",
        "type": "function",
        "z": "c4618a05.51826",
        "name": "Create MineCraft Server Information",
        "func": "var MCServerText = [msg.payload.description.extra];\n\nMCServerTextFormated =\"\";\nvar i;\nfor (i = 0; i < MCServerText[0].length; i++) {    \n    if (MCServerTextFormated == \"\") {\n      MCServerTextFormated = MCServerText[0][i].text;\n    } else {\n      MCServerTextFormated = MCServerTextFormated + \" \" + MCServerText[0][i].text;\n    }\n}\nvar MCServerTextFormated = MCServerTextFormated.replace(/{/g, '');\nvar MCServerTextFormated = MCServerTextFormated + \"<br>( \" + msg.payload.version.name + \" Protocol: \" + msg.payload.version.protocol + \" Latency: \" + msg.payload.latency + \" )\";\n\nmsg.payload = MCServerTextFormated;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "68574666.01158",
                "d98f1344.e2873"
            ]
        ]
    },
    {
        "id": "8349aebe.69e958",
        "type": "function",
        "z": "c4618a05.51826",
        "name": "Convert buffer to array to string",
        "func": "// # of users online \nvar MCusersOnline = msg.payload.players.online; \n// Convert buffer to string - provides and array with the user name(s)\nmsg.payload = [msg.payload.players.sample]; \nmsg.MCuser =\"\"; \nvar i;\nfor (i = 0; i < MCusersOnline; i++) {    \n    if (msg.MCuser == \"\") {\n      msg.MCuser = msg.payload[0][i].name;\n    } else {\n      msg.MCuser = msg.MCuser + \", \" + msg.payload[0][i].name;\n    }\n    \n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 40,
        "wires": [
            [
                "69106508.480764",
                "ef43b189.d5afb"
            ]
        ]
    },
    {
        "id": "a13a0ee2.8f701",
        "type": "ui_switch",
        "z": "c4618a05.51826",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a92fedfd.e19f68",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 560,
        "y": 400,
        "wires": [
            [
                "e37aba5f.cd5248"
            ]
        ]
    },
    {
        "id": "e37aba5f.cd5248",
        "type": "ui_toast",
        "z": "c4618a05.51826",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "msg.payload",
        "name": "",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "b8b19144.f6db38",
        "type": "debug",
        "z": "c4618a05.51826",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "cd8901f6.760cd8",
        "type": "pythonshell in",
        "z": "c4618a05.51826",
        "name": "sora-server-monitor",
        "pyfile": "/home/ubuntu/.node-red/projects/services-autretechlab-cloud/py-src/sora-server-monitor.py",
        "virtualenv": "/home/ubuntu/.node-red/projects/services-autretechlab-cloud/py-src",
        "continuous": false,
        "stdInData": false,
        "x": 130,
        "y": 640,
        "wires": [
            [
                "b3dd80ba.94992"
            ]
        ],
        "info": "\nOn target system put `touch ~/.hushlogin` to avoid ssh banner on logon.\n"
    },
    {
        "id": "b3dd80ba.94992",
        "type": "function",
        "z": "c4618a05.51826",
        "name": "sora-server-monitor2graph \\n 1-3 Disk(Total,Used,%Used)\\n 2-6 RAM(Total,Used,%Used) \\n 7-9 %CPU(Total,Used)",
        "func": "var serverStatus = msg.payload.split(\",\");\n// Disk:\n// 0 # Disk size in Kb\n// 1 # Percetage of disk space used\n// Memory:\n// 2 # Total\n// 3 # Used\n// 4 # Free\n// CPU:\n// 5 # %user\n// 6 # %nice\n// 7 # %system\n// 8 # %iowait\n// 9 # %steal\n// 10 # %idle\n\n// 1: TotalDisk\nvar totalDiskSpace = serverStatus[0]/1024/1024;\nvar msg1 = { payload: parseFloat(totalDiskSpace.toFixed(2)), \n             topic: \"Total Disk Space in GB\"}; \n//var msg1 = { payload: [] }; //Clear Chart\n// 2: Used Disk\nvar usedDiskSpace = totalDiskSpace * serverStatus[1]/100;\nvar msg2 = { payload: parseFloat(usedDiskSpace.toFixed(2)),\n             topic: \"Used Disk Space in GB\"};\n// 3: % used Disk\nvar percentUsedDiskSpace = parseFloat(serverStatus[1]);\nvar msg3 = { payload: parseFloat(percentUsedDiskSpace),\n             topic: \"% Used Disk Space\"};\n\n// 4: Total RAM\nvar totalRAM = parseFloat(serverStatus[2]);\nvar msg4 = { payload: totalRAM,\n             topic: \"Total RAM\" };\n// 5: Used RAM\nvar msg5 = { payload: parseFloat(serverStatus[3]),\n             topic: \"Used RAM\"};\n// 6: %FreeRAM\nvar percentFreeRAM = parseFloat(serverStatus[4]);\nvar msg6 = { payload: parseFloat(percentFreeRAM.toFixed(2)),\n             topic: \"% of free RAM\"};\n\n// 4: % Total CPU\nvar totalCPU = 100;\nvar msg7 = { payload: totalCPU,\n             topic: \"% Total CPU\"};\n// 5: % Used CPU\nvar msg8 = { payload: parseFloat(serverStatus[5]) + parseFloat(serverStatus[7]),\n             topic: \"% Used CPU(User and System)\"};\n// 6: % Free CPU\nvar percentFreeCPU = parseFloat(100 - serverStatus[10]);\nvar msg9 = { payload: parseFloat(percentFreeCPU.toFixed(2)),\n             topic: \"% of free CPU\"};\n\nreturn [ msg1, msg2, msg3 , msg4 , msg5 , msg6 , msg7 , msg8 , msg9];",
        "outputs": 9,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 640,
        "wires": [
            [
                "b8b19144.f6db38",
                "da02c6e2.551598"
            ],
            [
                "b8b19144.f6db38",
                "da02c6e2.551598"
            ],
            [
                "b8b19144.f6db38"
            ],
            [
                "b8b19144.f6db38",
                "2cc943cf.dd7f04"
            ],
            [
                "b8b19144.f6db38",
                "2cc943cf.dd7f04"
            ],
            [
                "b8b19144.f6db38"
            ],
            [],
            [
                "25c79f9d.5a583"
            ],
            []
        ]
    },
    {
        "id": "da02c6e2.551598",
        "type": "ui_chart",
        "z": "c4618a05.51826",
        "name": "",
        "group": "a92fedfd.e19f68",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Disk (GB)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "e5d69b34.348dc",
        "type": "inject",
        "z": "c4618a05.51826",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "cd8901f6.760cd8"
            ]
        ]
    },
    {
        "id": "25c79f9d.5a583",
        "type": "ui_chart",
        "z": "c4618a05.51826",
        "name": "",
        "group": "a92fedfd.e19f68",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "CPU (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2cc943cf.dd7f04",
        "type": "ui_chart",
        "z": "c4618a05.51826",
        "name": "",
        "group": "a92fedfd.e19f68",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Memory",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "5d11acf2.a00dfc",
        "type": "debug",
        "z": "196026c9.073909",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "67468649.cae3c",
        "type": "ui_chart",
        "z": "196026c9.073909",
        "name": "",
        "group": "f4e4954f.33bc4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Disk (GB)",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "827d0cd1.830eb8",
        "type": "ui_chart",
        "z": "196026c9.073909",
        "name": "",
        "group": "f4e4954f.33bc4",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Memory",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ef85660c.3bcf8",
        "type": "ui_chart",
        "z": "196026c9.073909",
        "name": "",
        "group": "f4e4954f.33bc4",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "CPU (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 860,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "514bd4e.995b4ac",
        "type": "function",
        "z": "196026c9.073909",
        "name": "sora-server-monitor2graph \\n 1-3 Disk(Total,Used,%Used)\\n 2-6 RAM(Total,Used,%Used) \\n 7-9 %CPU(Total,Used)",
        "func": "var serverStatus = msg.payload.split(\",\");\n// Disk:\n// 0 # Disk size in Kb\n// 1 # Percetage of disk space used\n// Memory:\n// 2 # Total\n// 3 # Used\n// 4 # Free\n// CPU:\n// 5 # %user\n// 6 # %nice\n// 7 # %system\n// 8 # %iowait\n// 9 # %steal\n// 10 # %idle\n\n// 1: TotalDisk\nvar totalDiskSpace = serverStatus[0]/1024/1024;\nvar msg1 = { payload: parseFloat(totalDiskSpace.toFixed(2)), \n             topic: \"Total Disk Space in GB\"}; \n//var msg1 = { payload: [] }; //Clear Chart\n// 2: Used Disk\nvar usedDiskSpace = totalDiskSpace * serverStatus[1]/100;\nvar msg2 = { payload: parseFloat(usedDiskSpace.toFixed(2)),\n             topic: \"Used Disk Space in GB\"};\n// 3: % used Disk\nvar percentUsedDiskSpace = parseFloat(serverStatus[1]);\nvar msg3 = { payload: parseFloat(percentUsedDiskSpace),\n             topic: \"% Used Disk Space\"};\n\n// 4: Total RAM\nvar totalRAM = parseFloat(serverStatus[2]);\nvar msg4 = { payload: totalRAM,\n             topic: \"Total RAM\" };\n// 5: Used RAM\nvar msg5 = { payload: parseFloat(serverStatus[3]),\n             topic: \"Used RAM\"};\n// 6: %FreeRAM\nvar percentFreeRAM = parseFloat(serverStatus[4]);\nvar msg6 = { payload: parseFloat(percentFreeRAM.toFixed(2)),\n             topic: \"% of free RAM\"};\n\n// 4: % Total CPU\nvar totalCPU = 100;\nvar msg7 = { payload: totalCPU,\n             topic: \"% Total CPU\"};\n// 5: % Used CPU\nvar msg8 = { payload: parseFloat(serverStatus[5]) + parseFloat(serverStatus[7]),\n             topic: \"% Used CPU(User and System)\"};\n// 6: % Free CPU\nvar percentFreeCPU = parseFloat(100 - serverStatus[10]);\nvar msg9 = { payload: parseFloat(percentFreeCPU.toFixed(2)),\n             topic: \"% of free CPU\"};\n\nreturn [ msg1, msg2, msg3 , msg4 , msg5 , msg6 , msg7 , msg8 , msg9];",
        "outputs": 9,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "5d11acf2.a00dfc",
                "67468649.cae3c"
            ],
            [
                "5d11acf2.a00dfc",
                "67468649.cae3c"
            ],
            [
                "5d11acf2.a00dfc"
            ],
            [
                "5d11acf2.a00dfc",
                "827d0cd1.830eb8"
            ],
            [
                "5d11acf2.a00dfc",
                "827d0cd1.830eb8"
            ],
            [
                "5d11acf2.a00dfc"
            ],
            [],
            [
                "ef85660c.3bcf8"
            ],
            []
        ]
    },
    {
        "id": "1a1ad551.6f1c13",
        "type": "pythonshell in",
        "z": "196026c9.073909",
        "name": "service-atlcloud-monitor",
        "pyfile": "/home/ubuntu/.node-red/projects/services-autretechlab-cloud/py-src/service-atlcloud-monitor.py",
        "virtualenv": "/home/ubuntu/.node-red/projects/services-autretechlab-cloud/py-src",
        "continuous": false,
        "stdInData": false,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "514bd4e.995b4ac"
            ]
        ],
        "info": "\nOn target system put `touch ~/.hushlogin` to avoid ssh banner on logon.\n"
    },
    {
        "id": "aecee39c.04998",
        "type": "inject",
        "z": "196026c9.073909",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "1a1ad551.6f1c13"
            ]
        ]
    }
]