flows.json
[{"id":"f6879d6c.3df81","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a099374.9a2dac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c4618a05.51826","type":"tab","label":"Flow-LeMondeDe Sora UI","disabled":false,"info":""},{"id":"7159224c.efb8e4","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"e84ab2e6.c47c88","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7750c3c7.805eb4","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"99336c78.4c8ab","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0071c5","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#0071c5","edited":true},"page-titlebar-backgroundColor":{"value":"#0071c5","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#129aff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0071c5","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Welcome to Autre TechLab Mincraft Services","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0},"allowTempTheme":"none"}},{"id":"89c7fde1.4503a","type":"ui_tab","d":true,"name":"Minecraft Castle","icon":"dashboard","disabled":false,"hidden":false},{"id":"39206a8b.c5f8a6","type":"mqtt-broker","name":"Eclipse","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"/pruebasNodeRed","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"/pruebasNodeRed","willQos":"0","willPayload":""},{"id":"8fb3768.b8ac088","type":"ui_group","name":"Castle outside","tab":"89c7fde1.4503a","order":2,"disp":true,"width":"6","collapse":false},{"id":"e4b868dc.4bb848","type":"ui_group","name":"Environment","tab":"89c7fde1.4503a","order":1,"disp":true,"width":"6","collapse":false},{"id":"af8cc9b6.e919d8","type":"ui_group","name":"Castle inside","tab":"89c7fde1.4503a","order":3,"disp":true,"width":"6","collapse":false},{"id":"3e0dfd0b.2101e2","type":"ui_group","name":"Walls","tab":"89c7fde1.4503a","order":4,"disp":true,"width":"6","collapse":false},{"id":"2238b8ca.5fac08","type":"ui_group","name":"Welcome to","tab":"ffdb88b2.2989b8","order":1,"disp":true,"width":"11","collapse":true},{"id":"38e96ded.327fd2","type":"ui_group","name":"AutreTechLab","tab":"","disp":true,"width":"6","collapse":false},{"id":"80d5ecc0.146198","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f11838f3.8b9978","type":"minecraft-ping-server","host":"sora.autretechlab.cloud","port":"25565"},{"id":"bed43d85.afe46","type":"minecraft-ping-server","host":"localhost","port":"25565"},{"id":"ddb8d230.19dce","type":"minecraft-ping-server","host":"localhost","port":"25566"},{"id":"ffdb88b2.2989b8","type":"ui_tab","name":"AutreTechLab","icon":"dashboard","disabled":false,"hidden":false},{"id":"df038176.cdeed8","type":"ui_group","name":"Statistics","tab":"ffdb88b2.2989b8","order":2,"disp":true,"width":"13","collapse":true},{"id":"77e2200e.124ad","type":"chatbot-facebook-node","botname":"","usernames":"","store":"","log":"","debug":false,"multiWebHook":false,"profileFields":"first_name,last_name"},{"id":"73dc9105.eb3818","type":"chatbot-discord-node","botname":"MondeDeSora_Bot","usernames":"autretechlab,LeCedrik","clientId":"804765948585181225","store":"4cf44106.6f32f8","log":"MondeDeSoraBot.log","debug":true},{"id":"4cf44106.6f32f8","type":"chatbot-context-store","name":"","contextStorage":"plain-file","contextParams":"{\"path\":\"/tmp\"}"},{"id":"859d11bc.076d9","type":"ui_spacer","name":"spacer","group":"df038176.cdeed8","order":1,"width":13,"height":1},{"id":"9244c093.ccefd","type":"ui_switch","z":"2a099374.9a2dac","name":"","label":"Daylight","group":"e4b868dc.4bb848","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Light","onvalueType":"str","onicon":"","oncolor":"","offvalue":"No light","offvalueType":"str","officon":"","offcolor":"","x":114,"y":27,"wires":[["b81bda78.93ccf8","afc873e6.813d5"]]},{"id":"b3372389.28ee1","type":"ui_switch","z":"2a099374.9a2dac","name":"Level 1 Light","label":"Level 1 Light","group":"af8cc9b6.e919d8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":585,"y":387,"wires":[["810bd8d.aab2028"]]},{"id":"ebdb6a38.48e3d8","type":"ui_switch","z":"2a099374.9a2dac","name":"Level 0 Light","label":"Level 0 Light","group":"af8cc9b6.e919d8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/mc/nodeRed/CastleLight/0","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":585,"y":328,"wires":[["8bdf3f76.73035"]]},{"id":"de8a35c4.974498","type":"ui_switch","z":"2a099374.9a2dac","name":"Level 2 Light","label":"Level 2 Light","group":"af8cc9b6.e919d8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":584,"y":438,"wires":[["df07f960.ddd098"]]},{"id":"c1ee785b.242278","type":"ui_switch","z":"2a099374.9a2dac","name":"Level 3 Light","label":"Level 3 Light","group":"af8cc9b6.e919d8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":578,"y":482,"wires":[["c1bf6b4a.29b0d8"]]},{"id":"e42c3eaa.18b7a","type":"ui_slider","z":"2a099374.9a2dac","name":"Outter Walls Height","label":"Outter Walls Height","group":"3e0dfd0b.2101e2","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"8","max":"50","step":1,"x":128,"y":165,"wires":[["447d014c.0b6a3","560144d.eb329bc"]]},{"id":"cff1b833.b88928","type":"ui_slider","z":"2a099374.9a2dac","name":"Inner Walls Height","label":"Inner Walls Height","group":"3e0dfd0b.2101e2","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":"8","max":"50","step":1,"x":144,"y":247,"wires":[["92dac8ea.6bc438","b9fe4946.4225e8","5c7e0b4b.aa5d9c"]]},{"id":"447d014c.0b6a3","type":"ui_gauge","z":"2a099374.9a2dac","name":"","group":"3e0dfd0b.2101e2","order":3,"width":0,"height":0,"gtype":"gage","title":"Outter","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":331,"y":146,"wires":[]},{"id":"92dac8ea.6bc438","type":"ui_gauge","z":"2a099374.9a2dac","name":"","group":"3e0dfd0b.2101e2","order":5,"width":0,"height":0,"gtype":"gage","title":"Inner","label":"blocks","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":327,"y":226,"wires":[]},{"id":"560144d.eb329bc","type":"mqtt out","z":"2a099374.9a2dac","name":"","topic":"/mc/nodeRed/OutterWalls","qos":"","retain":"","broker":"80d5ecc0.146198","x":387,"y":183,"wires":[]},{"id":"b9fe4946.4225e8","type":"mqtt out","z":"2a099374.9a2dac","name":"","topic":"/mc/nodeRed/InnerWalls","qos":"","retain":"","broker":"80d5ecc0.146198","x":389,"y":260,"wires":[]},{"id":"8bdf3f76.73035","type":"mqtt out","z":"2a099374.9a2dac","name":"Level 0","topic":"/mc/nodeRed/CastleLight/0","qos":"0","retain":"true","broker":"80d5ecc0.146198","x":762,"y":325,"wires":[]},{"id":"810bd8d.aab2028","type":"mqtt out","z":"2a099374.9a2dac","name":"Level 1","topic":"/mc/nodeRed/CastleLight/1","qos":"","retain":"true","broker":"80d5ecc0.146198","x":760,"y":387,"wires":[]},{"id":"df07f960.ddd098","type":"mqtt out","z":"2a099374.9a2dac","name":"Level 2","topic":"/mc/nodeRed/CastleLight/2","qos":"","retain":"true","broker":"80d5ecc0.146198","x":761,"y":436,"wires":[]},{"id":"c1bf6b4a.29b0d8","type":"mqtt out","z":"2a099374.9a2dac","name":"Level 3","topic":"/mc/nodeRed/CastleLight/3","qos":"","retain":"true","broker":"80d5ecc0.146198","x":758,"y":477,"wires":[]},{"id":"36f9583.9a21fa8","type":"ui_text","z":"2a099374.9a2dac","group":"af8cc9b6.e919d8","order":2,"width":0,"height":0,"name":"","label":"Level 0 Lights","format":"{{msg.payload}}","layout":"row-center","x":414,"y":330,"wires":[]},{"id":"49453e03.0d91a","type":"mqtt in","z":"2a099374.9a2dac","name":"Level 0","topic":"/mc/nodeRed/CastleLight/0","qos":"0","datatype":"auto","broker":"80d5ecc0.146198","x":70,"y":331,"wires":[["d6ba833e.7c803"]]},{"id":"f0bfc782.c99958","type":"ui_text","z":"2a099374.9a2dac","group":"af8cc9b6.e919d8","order":4,"width":0,"height":0,"name":"","label":"Level 1 Lights","format":"{{msg.payload}}","layout":"row-center","x":241,"y":389,"wires":[]},{"id":"f2239038.691b2","type":"mqtt in","z":"2a099374.9a2dac","name":"Level 1","topic":"/mc/nodeRed/CastleLight/1","qos":"0","datatype":"auto","broker":"80d5ecc0.146198","x":68,"y":388,"wires":[["f0bfc782.c99958","d00bb16e.32e1b"]]},{"id":"9931a20b.20583","type":"ui_text","z":"2a099374.9a2dac","group":"af8cc9b6.e919d8","order":6,"width":0,"height":0,"name":"","label":"Level 2 Lights","format":"{{msg.payload}}","layout":"row-center","x":233,"y":436,"wires":[]},{"id":"fa20b396.ead92","type":"mqtt in","z":"2a099374.9a2dac","name":"Level 2","topic":"/mc/nodeRed/CastleLight/2","qos":"0","datatype":"auto","broker":"80d5ecc0.146198","x":65,"y":438,"wires":[["9931a20b.20583","5528ba60.c45024"]]},{"id":"9ba51362.a8b2c","type":"ui_text","z":"2a099374.9a2dac","group":"af8cc9b6.e919d8","order":8,"width":0,"height":0,"name":"","label":"Level 3 Lights","format":"{{msg.payload}}","layout":"row-center","x":231,"y":478,"wires":[]},{"id":"de6d0b62.bbd518","type":"mqtt in","z":"2a099374.9a2dac","name":"Level 3","topic":"/mc/nodeRed/CastleLight/3","qos":"0","datatype":"auto","broker":"80d5ecc0.146198","x":62,"y":481,"wires":[["9ba51362.a8b2c","1de69934.c8ea77"]]},{"id":"d6ba833e.7c803","type":"delay","z":"2a099374.9a2dac","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":221,"y":323,"wires":[["ebdb6a38.48e3d8","36f9583.9a21fa8"]]},{"id":"d00bb16e.32e1b","type":"delay","z":"2a099374.9a2dac","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":428,"y":390,"wires":[["b3372389.28ee1"]]},{"id":"5528ba60.c45024","type":"delay","z":"2a099374.9a2dac","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":422,"y":438,"wires":[["de8a35c4.974498"]]},{"id":"1de69934.c8ea77","type":"delay","z":"2a099374.9a2dac","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":485,"wires":[["c1ee785b.242278"]]},{"id":"b81bda78.93ccf8","type":"mqtt out","z":"2a099374.9a2dac","name":"","topic":"/mc/nodeRed/Daylight","qos":"","retain":"true","broker":"80d5ecc0.146198","x":402,"y":26,"wires":[]},{"id":"afc873e6.813d5","type":"switch","z":"2a099374.9a2dac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Light","vt":"str"},{"t":"eq","v":"No light","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":60,"wires":[["7acd296e.f332b8"],["f61d1747.fa4908"]]},{"id":"7acd296e.f332b8","type":"change","z":"2a099374.9a2dac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":20,"wires":[["8bdf3f76.73035","810bd8d.aab2028","df07f960.ddd098","c1bf6b4a.29b0d8","4b7e9aec.37c75c"]]},{"id":"f61d1747.fa4908","type":"change","z":"2a099374.9a2dac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":100,"wires":[["8bdf3f76.73035","810bd8d.aab2028","df07f960.ddd098","c1bf6b4a.29b0d8","4b7e9aec.37c75c"]]},{"id":"8f9c4ae0.28fdf8","type":"mqtt in","z":"2a099374.9a2dac","name":"CastleGate","topic":"/mc/nodeRed/CastleGate","qos":"2","datatype":"auto","broker":"80d5ecc0.146198","x":100,"y":100,"wires":[["6df135b5.c2636c","5c7e0b4b.aa5d9c"]]},{"id":"6df135b5.c2636c","type":"ui_text","z":"2a099374.9a2dac","group":"8fb3768.b8ac088","order":0,"width":0,"height":0,"name":"","label":"CastleGate","format":"{{msg.payload}}","layout":"row-center","x":450,"y":100,"wires":[]},{"id":"533edf4.facc12","type":"function","z":"f6879d6c.3df81","name":"getPos()","func":"msg.payload = \"player.getPos()\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":200,"wires":[["71429f10.8ebd6"]]},{"id":"dd58ffe0.22a7","type":"debug","z":"f6879d6c.3df81","name":"","active":false,"console":"false","complete":"payload","x":655,"y":327,"wires":[]},{"id":"cc9ed7e5.336128","type":"inject","z":"f6879d6c.3df81","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"trigger","payloadType":"str","x":111,"y":102,"wires":[["533edf4.facc12"]]},{"id":"71429f10.8ebd6","type":"tcp request","z":"f6879d6c.3df81","server":"127.0.0.1","port":"4711","out":"char","splitc":"\\n","name":"","x":342,"y":123,"wires":[["a9afe2c4.56502"]]},{"id":"a9afe2c4.56502","type":"function","z":"f6879d6c.3df81","name":"getBlock()","func":"var arr = msg.payload.toString().replace(/(\\n|\\r)+$/, '').split(\",\");\n\nvar x = parseInt(arr[0]);\nvar z = parseInt(arr[1]);\nvar y = parseInt(arr[2])\nvar cube_size = 3;\n\nvar coord_set = []\n  for (var h = x-cube_size; h < x+cube_size+1; h++) {\n      for (var k = z-cube_size; k < z+cube_size+1; k++) {\n          for (var l = y-cube_size; l < y+cube_size+1; l++) {\n              coord_set.push({payload: \"world.getBlock(\"+h+\",\"+k+\",\"+l+\")\\n\"});\n          }\n      }\n  }\nreturn [coord_set];","outputs":1,"noerr":0,"x":476,"y":189,"wires":[["9713fdf5.68ec"]]},{"id":"9713fdf5.68ec","type":"tcp request","z":"f6879d6c.3df81","server":"127.0.0.1","port":"4711","out":"char","splitc":"\\n","name":"","x":216,"y":326,"wires":[["4958e94e.b6a718","e8e39686.171c68"]]},{"id":"4958e94e.b6a718","type":"function","z":"f6879d6c.3df81","name":"tabulate","func":"if (msg.payload === \"trigger\") {\n  msg.payload = context.table;\n  context.table = undefined;\n  return msg;\n} else {\n  var ID = msg.payload.toString().replace(/(\\n|\\r)+$/, '');\n  \n  context.table = context.table || {};\n  context.table[ID] = context.table[ID] || 0;\n  context.table[ID] = context.table[ID]+1;\n}","outputs":1,"noerr":0,"x":483,"y":327,"wires":[["dd58ffe0.22a7"]]},{"id":"e8e39686.171c68","type":"trigger","z":"f6879d6c.3df81","name":"","op1":"1","op2":"trigger","op1type":"nul","op2type":"val","duration":"250","extend":true,"units":"ms","outputs":1,"x":375,"y":403,"wires":[["4958e94e.b6a718"]]},{"id":"7ce01ab9.06af0c","type":"minecraft-ping-users","z":"c4618a05.51826","server":"f11838f3.8b9978","userid":"","do_not_ping":false,"x":320,"y":140,"wires":[["aa77ea69.e672b"]]},{"id":"68dcdd4c.90f21c","type":"debug","z":"c4618a05.51826","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"8909672e.e71758","type":"inject","z":"c4618a05.51826","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["c389e088.b5817","7ce01ab9.06af0c"]]},{"id":"c389e088.b5817","type":"minecraft-ping","z":"c4618a05.51826","server":"f11838f3.8b9978","x":310,"y":200,"wires":[["95c80b9d.acd028","df26eb0.73f1d18","f45a8c3d.b7adb"]]},{"id":"d98f1344.e2873","type":"debug","z":"c4618a05.51826","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":180,"wires":[]},{"id":"4b7e9aec.37c75c","type":"debug","z":"2a099374.9a2dac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":60,"wires":[]},{"id":"5c7e0b4b.aa5d9c","type":"debug","z":"2a099374.9a2dac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":240,"wires":[]},{"id":"95c80b9d.acd028","type":"ui_gauge","z":"c4618a05.51826","name":"Players Online/Max","group":"2238b8ca.5fac08","order":2,"width":0,"height":0,"gtype":"gage","title":"Players loged on","label":"payload.players.online","format":"{{payload.players.online}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"15","x":690,"y":240,"wires":[]},{"id":"68574666.01158","type":"ui_text","z":"c4618a05.51826","group":"2238b8ca.5fac08","order":1,"width":0,"height":0,"name":"","label":"Minecraft Server Information","format":"{{msg.payload.text}}","layout":"row-left","x":1380,"y":400,"wires":[],"info":"{{msg.payload.description.extra[0].text}}"},{"id":"aa77ea69.e672b","type":"split","z":"c4618a05.51826","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"user","x":530,"y":140,"wires":[["68dcdd4c.90f21c"]]},{"id":"f1fd01fe.176c3","type":"ui_chart","z":"c4618a05.51826","name":"","group":"df038176.cdeed8","order":2,"width":0,"height":0,"label":"Players Online","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":"7","removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":680,"y":340,"wires":[[]]},{"id":"df26eb0.73f1d18","type":"change","z":"c4618a05.51826","name":"","rules":[{"t":"delete","p":"payload.players.sample","pt":"msg"},{"t":"move","p":"payload.players.online","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["f1fd01fe.176c3","fb4593e.7dd887"]]},{"id":"fb4593e.7dd887","type":"debug","z":"c4618a05.51826","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":380,"wires":[]},{"id":"9fb76adf.ef34f","type":"chatbot-discord-receive","z":"7159224c.efb8e4","bot":"73dc9105.eb3818","botProduction":"73dc9105.eb3818","x":100,"y":80,"wires":[["ed3d7f8.38c168"]]},{"id":"9942b1a5.ad7a3","type":"chatbot-discord-send","z":"7159224c.efb8e4","bot":"73dc9105.eb3818","botProduction":"73dc9105.eb3818","track":false,"passThrough":false,"outputs":0,"x":460,"y":360,"wires":[]},{"id":"ed3d7f8.38c168","type":"change","z":"7159224c.efb8e4","name":"","rules":[{"t":"move","p":"payload.content","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["a90bf622.53a348"]]},{"id":"da890028.1b51b","type":"inject","z":"7159224c.efb8e4","name":"Test Case (Injecting test data)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Who is Marlene?","payloadType":"str","x":160,"y":220,"wires":[["a90bf622.53a348"]]},{"id":"a90bf622.53a348","type":"pythonshell in","z":"7159224c.efb8e4","name":"ChatbotAI","pyfile":"/home/atl-azure-admin/ChatbotAI.py","virtualenv":"/home/atl-azure-admin/","continuous":false,"stdInData":false,"x":420,"y":220,"wires":[["acc2d8ba.97d7f"]],"info":"# Configuration\n## Virtual environment\n`python3 -m venv /home/atl-azure-admin`\n## Python modules"},{"id":"1edac624.e819f2","type":"chatbot-conversation","z":"7159224c.efb8e4","name":"","botDevelopment":"73dc9105.eb3818","botProduction":"73dc9105.eb3818","chatId":"804673089869709324","userId":"","transport":"discord","store":"4cf44106.6f32f8","x":130,"y":360,"wires":[["67e7527e.abfa5c"]]},{"id":"67e7527e.abfa5c","type":"chatbot-message","z":"7159224c.efb8e4","name":"","message":[{"message":"{{payload}}"}],"language":"none","x":290,"y":360,"wires":[["9942b1a5.ad7a3"]]},{"id":"acc2d8ba.97d7f","type":"split","z":"7159224c.efb8e4","name":"Split messages if more than 2000 char (Discord Limit)","splt":"1999","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":260,"y":300,"wires":[["1edac624.e819f2","bfe4e7f1.316a68"]]},{"id":"bfe4e7f1.316a68","type":"debug","z":"7159224c.efb8e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":300,"wires":[]},{"id":"a9d7d577.d16c4","type":"chatbot-nlpjs-train","z":"7159224c.efb8e4","name":"atlIDE","debug":false,"x":640,"y":500,"wires":[["c83ff59.5e00b08"]]},{"id":"36152fce.9b766","type":"inject","z":"7159224c.efb8e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Please activate Thymio","payloadType":"str","x":130,"y":460,"wires":[["8546918d.842148"]]},{"id":"75f31efb.0355d","type":"debug","z":"7159224c.efb8e4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":920,"y":320,"wires":[]},{"id":"8546918d.842148","type":"chatbot-nlpjs-intent","z":"7159224c.efb8e4","intent":"activate.robot","language":"en","utterances":["please start %robot%","activate %robot%"],"outputs":1,"x":340,"y":420,"wires":[["5ecb772f.9a9e2"]]},{"id":"5ecb772f.9a9e2","type":"chatbot-nlpjs-entity","z":"7159224c.efb8e4","name":"robot","language":"en","entities":[{"name":"thymio","aliases":["thymio thymioII"]},{"name":"nxt/ev3","aliases":["Lego NXT EV3"]},{"name":"cozmo","aliases":[""]}],"outputs":1,"x":390,"y":500,"wires":[["a9d7d577.d16c4"]]},{"id":"c83ff59.5e00b08","type":"chatbot-nlpjs-save","z":"7159224c.efb8e4","filename":"atlIDE.model","outputs":0,"x":650,"y":560,"wires":[]},{"id":"93a3b3f.d87ff5","type":"chatbot-nlpjs-load","z":"7159224c.efb8e4","filename":"atlIDE.model","name":"atlIDE","x":320,"y":560,"wires":[["75f31efb.0355d"]]},{"id":"9de51b96.d0ac68","type":"inject","z":"7159224c.efb8e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":560,"wires":[["93a3b3f.d87ff5"]]},{"id":"be6da52f.1ea408","type":"split","z":"7159224c.efb8e4","name":"","splt":"2000","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":860,"y":260,"wires":[["75f31efb.0355d"]]},{"id":"3bc8e1d2.744abe","type":"switch","z":"e84ab2e6.c47c88","name":"Route ","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"pressure","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":160,"wires":[["907bf3b8.def45"],["fe425938.926838"],["ec261304.52f73"]]},{"id":"be3da36c.1c142","type":"inject","z":"e84ab2e6.c47c88","name":"","props":[{"p":"payload","v":"27","vt":"num"},{"p":"topic","v":"temperature","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"27","payloadType":"num","x":200,"y":120,"wires":[["3bc8e1d2.744abe"]]},{"id":"f271ceef.172b3","type":"inject","z":"e84ab2e6.c47c88","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"humidity","payload":"45","payloadType":"num","x":190,"y":160,"wires":[["3bc8e1d2.744abe"]]},{"id":"907bf3b8.def45","type":"debug","z":"e84ab2e6.c47c88","name":"Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":120,"wires":[]},{"id":"fe425938.926838","type":"debug","z":"e84ab2e6.c47c88","name":"Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":160,"wires":[]},{"id":"ec261304.52f73","type":"debug","z":"e84ab2e6.c47c88","name":"Pressure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":200,"wires":[]},{"id":"fca957dd.9d8078","type":"inject","z":"e84ab2e6.c47c88","name":"","props":[{"p":"payload","v":"1001","vt":"num"},{"p":"topic","v":"pressure","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pressure","payload":"1001","payloadType":"num","x":190,"y":200,"wires":[["3bc8e1d2.744abe"]]},{"id":"a62d8cdf.1bd82","type":"inject","z":"e84ab2e6.c47c88","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":320,"wires":[["b8bbbc41.f272"]]},{"id":"b8bbbc41.f272","type":"switch","z":"e84ab2e6.c47c88","name":"Context based routing","property":"state","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":320,"wires":[["9aa9c6b2.18a8e8"],["6ba4ec46.476794"],["a2e806c8.ffa168"]]},{"id":"9aa9c6b2.18a8e8","type":"debug","z":"e84ab2e6.c47c88","name":"Output 1","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":740,"y":260,"wires":[]},{"id":"6ba4ec46.476794","type":"debug","z":"e84ab2e6.c47c88","name":"Output 2","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":740,"y":320,"wires":[]},{"id":"a2e806c8.ffa168","type":"debug","z":"e84ab2e6.c47c88","name":"Output 3","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":740,"y":380,"wires":[]},{"id":"8aabdb51.e8b538","type":"inject","z":"e84ab2e6.c47c88","name":"Set state 0 - turn off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":330,"y":410,"wires":[["e46083e4.1f17b"]]},{"id":"d1722dee.48db4","type":"inject","z":"e84ab2e6.c47c88","name":"Set state 1 - send to output 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":360,"y":455,"wires":[["e46083e4.1f17b"]]},{"id":"4bdb08de.706328","type":"inject","z":"e84ab2e6.c47c88","name":"Set state 2 - send to output 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":360,"y":500,"wires":[["e46083e4.1f17b"]]},{"id":"220ce0a6.cf81e","type":"inject","z":"e84ab2e6.c47c88","name":"Set state 3 - send to output 3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":360,"y":545,"wires":[["e46083e4.1f17b"]]},{"id":"e46083e4.1f17b","type":"change","z":"e84ab2e6.c47c88","name":"Set flow.state","rules":[{"t":"set","p":"state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":455,"wires":[[]]},{"id":"3149f240.c0e25e","type":"inject","z":"e84ab2e6.c47c88","name":"Array of decimals","props":[{"p":"payload","v":"[1.67,2.98,3.12,4.99,5.50]","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1.67,2.98,3.12,4.99,5.50]","payloadType":"json","x":680,"y":540,"wires":[["bd57baa6.00f998"]]},{"id":"bd57baa6.00f998","type":"split","z":"e84ab2e6.c47c88","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":760,"y":600,"wires":[["7ab9e9ed.d514b8"]]},{"id":"7ab9e9ed.d514b8","type":"range","z":"e84ab2e6.c47c88","minin":"0","maxin":"10","minout":"0","maxout":"10","action":"scale","round":true,"property":"payload","name":"Round value","x":910,"y":600,"wires":[["f26660ab.007b3"]]},{"id":"f26660ab.007b3","type":"join","z":"e84ab2e6.c47c88","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1050,"y":600,"wires":[["f9b5abac.f13828"]]},{"id":"f9b5abac.f13828","type":"debug","z":"e84ab2e6.c47c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":660,"wires":[]},{"id":"59ff2a1.fa600d4","type":"http in","z":"e84ab2e6.c47c88","name":"","url":"/hello","method":"get","swaggerDoc":"","x":480,"y":780,"wires":[["54c1e70d.ab3e18"]]},{"id":"54c1e70d.ab3e18","type":"template","z":"e84ab2e6.c47c88","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":630,"y":780,"wires":[["266c286f.d993d8"]]},{"id":"266c286f.d993d8","type":"http response","z":"e84ab2e6.c47c88","name":"","x":770,"y":780,"wires":[]},{"id":"634256b7.2d6818","type":"inject","z":"e84ab2e6.c47c88","name":"JSON String","props":[{"p":"payload","v":"{\"a\":1}","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":1}","payloadType":"str","x":530,"y":880,"wires":[["a2fe0fc8.095e1"]]},{"id":"a2fe0fc8.095e1","type":"json","z":"e84ab2e6.c47c88","name":"","property":"payload","action":"","pretty":false,"x":690,"y":880,"wires":[["9a4ce2b8.47698"]]},{"id":"9a4ce2b8.47698","type":"debug","z":"e84ab2e6.c47c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":880,"wires":[]},{"id":"80032e2.7c92cd","type":"inject","z":"e84ab2e6.c47c88","name":"Object","props":[{"p":"payload","v":"{\"a\":1}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":1}","payloadType":"json","x":510,"y":920,"wires":[["cd40a0f4.4f5ac"]]},{"id":"cd40a0f4.4f5ac","type":"json","z":"e84ab2e6.c47c88","name":"","property":"payload","action":"","pretty":false,"x":690,"y":920,"wires":[["478b4106.4fd7c"]]},{"id":"478b4106.4fd7c","type":"debug","z":"e84ab2e6.c47c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":920,"wires":[]},{"id":"73e4e16.4d9742","type":"inject","z":"e84ab2e6.c47c88","name":"Inject","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":700,"wires":[["2bef78fd.ae70f8"]]},{"id":"90ed51dc.dcc71","type":"csv","z":"e84ab2e6.c47c88","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\n","temp":"","skip":"1","x":790,"y":700,"wires":[["9aace6e7.adc538"]]},{"id":"9aace6e7.adc538","type":"debug","z":"e84ab2e6.c47c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":700,"wires":[]},{"id":"2bef78fd.ae70f8","type":"template","z":"e84ab2e6.c47c88","name":"CSV data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"# This is some random data\na,b,c\n80,18,2\n52,36,10\n91,18,61\n32,47,65","output":"str","x":640,"y":700,"wires":[["90ed51dc.dcc71"]]},{"id":"73f3ddac.75f8ec","type":"split","z":"c4618a05.51826","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":890,"y":280,"wires":[["dd4eb342.ed5048"]]},{"id":"f45a8c3d.b7adb","type":"change","z":"c4618a05.51826","name":"Get server information to message payload","rules":[{"t":"move","p":"payload.description.extra","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":280,"wires":[["73f3ddac.75f8ec"]]},{"id":"dd4eb342.ed5048","type":"join","z":"c4618a05.51826","name":"","mode":"custom","build":"string","property":"payload.text","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1030,"y":280,"wires":[["68574666.01158","d98f1344.e2873"]]},{"id":"683411c1.321c6","type":"inject","z":"c4618a05.51826","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":220,"wires":[["c389e088.b5817"]]}]